.footer_wrapper {
    padding: 40px;
    background-color: #de6ec4;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    
}

.FooterLinks{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.FooterLinks p{
    font-family: 'poppins';
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.FooterLinks p:hover{
    color: #ffff;
}

.FooterLinks p span{
    color: #fff;
    display: block;
    font-size: 16px;
    margin-top: 5px;
}

.FooterLinks h2{
    margin-bottom: 12px;
}

@media screen and (max-width:1100px) {
    .footer_wrapper{
        grid-template-columns: repeat(2,1fr);
     
    }
}
@media screen and (max-width:768x) {
    .footer_wrapper{
        grid-template-columns: repeat(1,1fr);
        
    }
}

